/*mobile*/

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    object-fit: cover;
    object-position: 90% 10%;
}
.see-more{
    margin-top: 30px;
}
h1 {
    color: blue;
}

@media only screen and (min-width: 768px){
    img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        object-fit: cover;
        object-position: 90% 10%;
    }
    .heading{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .see-more{
        margin-top: 4em;
    }
    .mainHead{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
