/*mobile*/

/*img{*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    justify-content: center;*/
/*    object-fit: cover;*/
/*    object-position: 90% 10%;*/

/*}*/
.see-more{
    margin-top: 30px;
}
h1 {
    color: blue;
}
.txt-type > .txt {
    border-right: 0.2rem solid blue;
}

@media only screen and (min-width: 768px){
    .photo-reel{
        width: 100%;
        height: 100%;
    }
    .logo1{
        height: 200px;
        width: 200px;
        object-fit: cover;
    }
    .intro{
        margin-top: 1em;
        color: #C0B283;
        font-size: 2rem;
    }
    .line{
        border-bottom: 2px solid #373737;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    /*img {*/
    /*    height: 200px;*/
    /*    width: 200px;*/
    /*    border-radius: 50%;*/
    /*    display: flex;*/
    /*    align-items: flex-start;*/
    /*    justify-content: center;*/
    /*    object-fit: cover;*/
    /*    object-position: 90% 10%;*/

    /*}*/
    .heading{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .see-more{
        margin-top: 4em;
    }
    .mainHead{
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        padding: 50px;

    }
}
