h1{
    color: blue;
}
/*mobile view*/
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    object-fit: cover;
    object-position: 90% 10%;
}
header{

}
@media only screen and (min-width: 768px) {
    img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        object-fit: cover;
        object-position: 90% 10%;
    }
    header{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}