.html{
    margin: 0;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
    padding: 0.5em;

}
.navbarCollapse{
    border-radius: 7px;
}
.navbarMenu{
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}
.navbarMenu > li{
    border-bottom: 2px solid red;
    width: 90%;
    padding-top: 0.5em;
    font-size: x-large;
    line-height: 2em;
}